[Unit]
Description=Klio Server

[Service]
ExecStart=/opt/klio/klio server start
Restart=always

User=klio
Group=klio

[Install]
WantedBy=multi-user.target
