[Unit]
Description=Kopia Server Tier-1

[Service]
ExecStart=/opt/klio/kopia server start \
  --address=https://0.0.0.0:51515 \
  --server-username=klio@cluster-example \
  --server-password=CHANGE_ME_KOPIA_PASSWORD \
  --server-control-username=klio \
  --server-control-password=CHANGE_ME_KOPIA_PASSWORD \
  --tls-cert-file=/home/klio/server.crt \
  --tls-key-file=/home/klio/server.key 

Restart=always

User=klio
Group=klio

[Install]
WantedBy=multi-user.target
