{{- /* Template in documentation/helm-docs/helm_chart.md.gotmpl */ -}}
{{- /* Original template: https://github.com/norwoodj/helm-docs/blob/master/pkg/document/template.go */ -}}
{{ template "chart.valuesSection" . }}
